h1{
    
       
            color:rgba(59, 182, 248, 0.933);
            font-size: 85px;
            
            
    
}
h4{
    color: rgb(255, 255, 255);
    float: right;
    font-size: 17px;
    
    

   
}


h3{
    size: 100px;
    
    color: aliceblue;
    display: inline-block;
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(59, 182, 248, 0.933);
    padding: 10px;
    overflow: hidden;
    font-size: 25px;
 
    font-weight: normal;
    width: 200px;
    text-align: center;
      
  
  }
  img{
    width: 800px;
    height:748px ;
  }


  
  .app-container{
    display: flex;
    flex-direction: row;
  }
  .div2{
    justify-content: center;
    align-items: center;
    display: flex;
    gap:20px;
    flex-direction: column;
    text-align:center;
}




body{background-color: #1b2643;}
#imgc{
  background-color: transparent !important;
}


  
